body{
    background: no-repeat url(https://images.unsplash.com/photo-1576046126313-e93a138bc984?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=995&q=80);
    background-size: cover;
    font-family: 'Caveat', cursive;
}

h1{
    text-shadow: 5px 5px 3px #fff;
}